
@{
    ViewBag.Title = "About";
}




@********** ABOUT SECTION **********@
<section>
    <div class="about_sec" id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-6 mb-5">
                    <h2 class="font-weight-bold display-4 text-center mb-4"> <span style="color: gold">About</span> Us</h2>
                    <p>
                        TARS Courier Services Pvt. Ltd. has achieved phenomenal growth since its inception under the leadership of the Chairman & Founder Mr. Usman Shyk. Today’s TARS Courier Services Pvt. Ltd is the only Courier & Logistics Company in Pakistan having an own branded cargo Plane with daily flights for cargo & packages movements, this positioned an enormous value addition in the fleet size of TARS Courier Services Pvt. Ltd.
                    </p>
                </div>

                <div class="col-md-6 border p-3">
                    <img src="~/Content/images/about_pic.jpg" width="100%" />
                </div>
            </div>
            <br />
            <p class="mt-5">
                From the time when TARS Courier Services Pvt. Ltd. started its operations in 2001 in Pakistan with a small business idea that initiated its journey from 5 destinations by delivering letters and documents, is now transformed into a leading Logistics, Courier & Warehousing service provider across Pakistan, with over 700+ Express Centers, handling over 90 million packages a year, Small Medium Business Enterprises SME, Students, Individuals, Travelers, FMCGs, Transnational Companies, Large Business Corporations (Textile, Leather, & other sectors), Government Sectors, Non-Government Organizations & Foreign Missions to fulfill their Courier, logistics & Supply Chain needs.
            </p>


        </div>
    </div>
</section>
@********** ABOUT SECTION END **********@

