
@{
    ViewBag.Title = "NormalPost";
}

<h2 class="font-weight-bold display-4 mt-5 text-center"><span style="color: gold">Normal</span> Post</h2>

<div class="container mt-5">
    <p class="w-75 m-auto">
        Normal Post is a mail service provided by private firms, which facilitates the delivery of parcels and consignments from one place to another. They provide fast and safe delivery of consignment along with the tracking system. The service came into being to provide an efficient and secure mode to send parcels, letters and documents. The service is available to you throughout the year.

        <div class="m-auto w-75 ">
            <h4 class="font-weight-bold mt-5">Basic Features Of Normal Post</h4>
            <ul class="mt-2">
                
                <li>Status Tracking Facility</li>
                <li>Fast track delivery</li>
                <li>Worldwide Delivery</li>
                <li>Safe and Secure Transportation</li>
                <li>Delivery of heavy items</li>
            </ul>
        </div>
    </p>
    <p class="w-75 m-auto">
        It must be noted that different Normal Post specialize in different functions and so they differ in the services provided, time-taken for delivery, network and so on.
    </p>
    
</div>

