
@{
    ViewBag.Title = "Offices";
}


@********** CONTACT SECTION **********@

<section>
    <div class="contact_sec">
        <div class="container-md">
            <h2 class="font-weight-bold display-4 text-center mb-5">Our <span style="color: gold">Offices</span> Locations</h2>
            <div class="row">

                <div class="col-md-6">
                    <div class="p-3 border shadow mb-5 con-inner">
                        <div><i class="fa fa-map-marker fa-3x mb-3 text-warning"></i></div>
                        <div>
                            <h5 class="font-weight-bold">Karachi</h5>
                            <p>Main Shareh-e-Faisal, Karachi</p>
                            <div>
                                <p><strong>Email:</strong> <a href="mailto:Tarsinfo@mail.com">Tarsinfo@mail.com</a></p>

                                <p><strong>Contact:</strong> <a href="tel:+92335-9875258">0335-9875258</a></p>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-3 border shadow mb-5 con-inner">
                        <div><i class="fa fa-map-marker fa-3x mb-3 text-warning"></i></div>
                        <div>
                            <h5 class="font-weight-bold">Lahore</h5>
                            <p>Faisal Bagh, Lahore</p>
                            <div>
                                <p><strong>Email:</strong> <a href="mailto:Tarsinfo@mail.com">Tarsinfo@mail.com</a></p>

                                <p><strong>Contact:</strong> <a href="tel:+92333-7588795">0333-7588795</a></p>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-3 border shadow mb-5 con-inner">
                        <div><i class="fa fa-map-marker fa-3x mb-3 text-warning"></i></div>
                        <div>
                            <h5 class="font-weight-bold">Islamabad</h5>
                            <p>DHA Phase 4, Islamabad</p>
                            <div>
                                <p><strong>Email:</strong> <a href="mailto:Tarsinfo@mail.com">Tarsinfo@mail.com</a></p>

                                <p><strong>Contact:</strong> <a href="tel:+92317-0578944">0317-0578944</a></p>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-3 border shadow mb-5 con-inner">
                        <div><i class="fa fa-map-marker fa-3x mb-3 text-warning"></i></div>
                        <div>
                            <h5 class="font-weight-bold">Peshawar</h5>
                            <p>Bab-e-Khyber, Peshawar</p>
                            <div>
                                <p><strong>Email:</strong> <a href="mailto:Tarsinfo@mail.com">Tarsinfo@mail.com</a></p>

                                <p><strong>Contact:</strong> <a href="tel:+92336-2158977">0336-2158977</a></p>


                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
@********** CONTACT SECTION END **********@




