
@{
    ViewBag.Title = "Privacy";
}

<h2 class="font-weight-bold display-4 mt-5 text-center"><span style="color: gold">Privacy</span> Policy</h2>


<div class="container mt-5">

    <div class="mb-5">
        <h4  class="font-weight-bold">INFORMATION COLLECTION AND USE</h4>
        <p>
            For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to Name, Email , phone , GPS locaton, . The information that we request will be retained by us and used as described in this privacy policy. The app does use third party services that may collect information used to identify you. Link to privacy policy of third party service providers used by the app.
        </p>
    </div>


    <div class="mb-5">
        <h4 class="font-weight-bold">COOKIES</h4>
        <p>
            Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device’s internal memory. This Service does not use these “cookies” explicitly. However, the app may use third party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.
        </p>
    </div>


    <div class="mb-5">
        <h4 class="font-weight-bold">SERVICE PROVIDERS</h4>
        <p>We may employ third-party companies and individuals due to the following reasons,</p>
        <ul>
            <li>To facilitate our Service</li>
            <li>To provide the Service on our behalf</li>
            <li>To perform Service-related services</li>
            <li>To assist us in analyzing how our Service is used</li>
        </ul>
    </div>

</div>