
@{
    ViewBag.Title = "SpeedPost";
}


<h2 class="font-weight-bold display-4 mt-5 text-center"><span style="color: gold">Speed</span> Post</h2>

<div class="container mt-5">
    <p class="w-75 m-auto">
        Speed Post is a high-speed postal service provided by Tars, it offers faster delivery of parcels, letters, cards, documents, and other important stuff. Tars Department started this service in the name of “Speed Post.” <br /><br />
        Along with time-bound delivery and excellent coverage, it offers a Status Tracking Service that helps people to know the status of their parcel. Speed post is by far the fastest form of delivery service known to people in tier-2 and tier-3 cities in Pakistan. Even today, many rely on speed post for successfully delivering their packages.<br /><br />

        In ancient times, people just had one way to connect with others, i.e. through letters, that took a lot of days to reach the destination. Eventually, the postal service was introduced. It aided the fast delivery of letters. However, with the emergence of the internet and telecommunication, the usage of sending letters through posts has decreased manifold. People now can connect with each other in seconds.<br /><br />

        But, even with the emergence of technology, people still use postal services to send and receive essential documents such as commercial papers, documents, and more. However, with the introduction of courier aggregators such as Shiprocket the entire scenario of speed post and couriers have changed. The goods and documents are delivered faster and with higher accuracy
    </p>
</div>



