
@{
    ViewBag.Title = "VPP";
}

<h2 class="font-weight-bold display-4 mt-5 text-center"><span style="color: gold">V</span>PP</h2>

<div class="container mt-5">
    <p class="w-75 m-auto">
        The value-payable system is designed to meet the requirements of person who wish to pay for articles sent to them at the time of receipt of the articles.  It also meets the requirements of traders and others who wish to recover through the agency of  the post office the value of articles supplied by them.<br /><br />

        VPP is a service just like cash on delivery, you have to attach a VPP money order slip with your parcel, after the delivery the customer will pay the charge, and the post office will send the money to you through Money order.<br /><br />

        How to Check VPP Tracking Status. It's very Simple for you to know your VPP Tracking status through our Tars tracker system. All you need is VPP tracking number. Enter VPP Tracking number (Parcel Id) in below Tars Online tracker system and click track button to track and trace your delivery status information instantly.

    </p>
</div>


