
<section>

    <div class="p-2 admin_navbar ">

        <div class="d-flex justify-content-between align-items-center">
            <div><h4>TARS</h4></div>
            <div><i class="fa fa-bars fa-lg mr-2" id="toggleIcon"></i></div>
        </div>
        <div class="divider"></div>

        <ul class="admin_nav bg-warning">
            <li id="Dashboard"><a>Dashboard</a></li>
            <li id="Emp"><a>Our Employees</a></li>
            <li id="Add_Employee"><a>Add New Employees</a></li>
            <ol class="divider d-block"></ol>
            <li id="Center"><a>Center</a></li>
            <li id="Pricing"><a>Pricing</a></li>
            <li id="Parcels"><a>Parcels</a></li>
            <ol class="divider d-block"></ol>
            <li><a href="/Home/Index" target="_blank">See Website Layout</a></li>
        </ul>
    </div>




</section>