
<div class="container mt-4">
    <div class="row">

        <div class="col-md-6">
            <div class="shadow border mb-4 rounded p-4">
                <h4 class="font-weight-bold">Your Employees</h4>
                <small class="mt-2">You Have @TempData["emp_count"] Employees</small>
            </div>
        </div>

        <div class="col-md-6">
            <div class="shadow border mb-4 rounded p-4">
                <h4 class="font-weight-bold">Your Orders</h4>
                <small class="mt-2">You Have @TempData["order_count"] Orders</small>
            </div>
        </div>

        <div class="col-md-6">
            <div class="shadow border mb-4 rounded p-4">
                <h4 class="font-weight-bold">Your Centers</h4>
                <small class="mt-2">You Have @TempData["center_count"] Centers in all over Pakistan</small>
            </div>
        </div>

    </div>
</div>